# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json
version: 2
updates:
  - package-ecosystem: "devcontainers"
    directory: ".devcontainer"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "devcontainer(chore)"
    cooldown:
      default-days: 7
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "actions(chore)"
    cooldown:
      default-days: 7
      exclude:
        - "slackapi/slack-github-action"
    labels:
      - "dependencies"
      - "proj:actions"
  - package-ecosystem: "gradle"
    directory: "java.sdk.gibra"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "java.sdk.gibra(chore)"
    cooldown:
      default-days: 7
      exclude:
        - "com.slack.api*"
    labels:
      - "dependencies"
      - "proj:java.sdk.gibra"
    groups:
      slack:
        patterns:
          - "com.slack.api*"
  - package-ecosystem: "npm"
    directory: "js.bolt.surge"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "js.bolt.surge(chore)"
    cooldown:
      default-days: 7
      exclude:
        - "@slack/*"
    labels:
      - "dependencies"
      - "proj:js.bolt.surge"
    versioning-strategy: increase
  - package-ecosystem: "terraform"
    directory: "js.bolt.surge/infra"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "js.bolt.surge(chore)"
    cooldown:
      default-days: 7
    labels:
      - "dependencies"
      - "proj:js.bolt.surge"
  - package-ecosystem: "npm"
    directory: "js.bolt.surge/src"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "js.bolt.surge(chore)"
    cooldown:
      default-days: 7
      exclude:
        - "@slack/*"
    labels:
      - "dependencies"
      - "proj:js.bolt.surge"
    versioning-strategy: increase
  - package-ecosystem: "npm"
    directory: "js.bolt.tails"
    ignore:
      - dependency-name: "@types/node"
        versions: ["25.x"]
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "js.bolt.tails(chore)"
    cooldown:
      default-days: 7
      exclude:
        - "@slack/*"
    labels:
      - "dependencies"
      - "proj:js.bolt.tails"
    versioning-strategy: increase
  - package-ecosystem: "pip"
    directory: "py.sdk.sdkai"
    schedule:
      cronjob: 4 2 * * *
      interval: cron
    commit-message:
      prefix: "py.sdk.sdkai(chore)"
    cooldown:
      default-days: 7
    labels:
      - "dependencies"
      - "proj:py.sdk.sdkai"
    versioning-strategy: increase
