# Slack credentials
SLACK_APP_TOKEN=xapp-1-example
SLACK_BOT_TOKEN=xoxb-example

# Slack channels
SLACK_CHANNEL_ID_INCOMING=C0101010101
SLACK_CHANNEL_ID_OUTGOING=C0123456789

# Slack users
SLACK_USER_ID_BOT=U0B4ABWE762
SLACK_USER_ID_MESSENGER=U07973ZGERK

# Wiki
WIKI_BASE=https://github.com/zimeg/emporia-time/wiki
WIKI_REMOTE_PRODUCTION=git@github.com:zimeg/emporia-time.wiki.git
WIKI_REMOTE_STAGING=git@git.o526.net:etime.wiki.git
