# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Update dependencies
on:
  pull_request:
  schedule:
    - cron: "22 22 * * *"
  workflow_dispatch:
jobs:
  dependabot:
    name: Merge automatic pull requests
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Collect update metadata
        id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@3603e826ee561ea102b58accb5ea55a1a7482343 # v1.4.1
        with:
          allowed-conclusions: success
          check-regexp: ^Confirm sensible changes
          ref: ${{ github.event.pull_request.head.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
      - name: Merge requests from the kind dependabot
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Send a notification of completion
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "${{ steps.metadata.outputs.directory }}(chore): dependencies have been updated"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
      - name: Send a notification of pending
        if: steps.metadata.outputs.update-type != 'version-update:semver-patch' && steps.metadata.outputs.update-type != 'version-update:semver-minor'
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "${{ steps.metadata.outputs.directory }}(chore): dependencies have a pending update"
      - name: Send a notification of failure
        if: failure()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "${{ steps.metadata.outputs.directory }}(chore): failed to update dependencies"
  flake:
    name: Freeze the latest lockfile
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
    steps:
      - name: Checkout this repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true
          ref: main
      - name: Configure git credentials
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - name: Install a flaked Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - name: Checkout an update
        run: |
          git checkout -b update
      - name: Update to the latest
        run: |
          cd deno.sdk.begut && nix flake update && cd ..
          cd deno.sdk.chanl && nix flake update && cd ..
          cd java.sdk.gibra && nix flake update && cd ..
          cd js.bolt.surge && nix flake update && nix develop --command ./scripts/install-update.sh && cd ..
          cd js.bolt.tails && nix flake update && cd ..
          cd py.bolt.snaek && nix flake update && cd ..
      - name: Check for changes
        id: diff
        run: |
          git diff
          if ! git diff --quiet; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Save the flake locks
        if: steps.diff.outputs.changed == 'true'
        run: |
          git commit --all --message "chore(deps): automatic version bump to the most recent packages"
          git push -u origin update
      - name: Start the tests
        if: steps.diff.outputs.changed == 'true'
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/actions/workflows/samples.yml/dispatches \
             -f "ref=update"
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Wait for testing to complete
        if: steps.diff.outputs.changed == 'true'
        uses: lewagon/wait-on-check-action@3603e826ee561ea102b58accb5ea55a1a7482343 # v1.4.1
        with:
          allowed-conclusions: success
          check-regexp: ^Confirm sensible changes
          ref: update
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
      - name: Save changed version
        if: steps.diff.outputs.changed == 'true'
        run: |
          git checkout main
          git merge update
          git push -u origin main
          git push origin --delete update
      - name: Message the happened errors
        if: failure()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "samples(chore): failed to update project dependencies via flake"
