# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Update dependencies
on:
  pull_request:
  schedule:
    - cron: "22 22 * * *"
  workflow_dispatch:
jobs:
  dependabot:
    name: Merge automatic pull requests
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: self-hosted
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Collect update metadata
        id: metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Merge requests from the kind dependabot
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Send a notification of completion
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type == 'version-update:semver-minor'
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "${{ steps.metadata.outputs.directory }}(chore): dependencies have been updated"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          SLACK_CHANNEL_ID: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
      - name: Send a notification of pending
        if: steps.metadata.outputs.update-type != 'version-update:semver-patch' && steps.metadata.outputs.update-type != 'version-update:semver-minor'
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "${{ steps.metadata.outputs.directory }}(chore): dependencies have a pending update"
      - name: Send a notification of failure
        if: failure()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "${{ steps.metadata.outputs.directory }}(chore): failed to update dependencies"
  flake:
    name: Freeze the latest lockfile
    if: github.event_name != 'pull_request'
    runs-on: self-hosted
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout this repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: true
          ref: main
          token: ${{ secrets.SANDBOX_ACCESS_TOKEN }}
      - name: Configure git credentials
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - name: Update to the latest
        run: |
          cd deno.sdk.begut && nix flake update && cd ..
          cd deno.sdk.chanl && nix flake update && cd ..
          cd java.sdk.gibra && nix flake update && cd ..
          cd js.bolt.surge && nix flake update && cd ..
          cd js.bolt.tails && nix flake update && cd ..
          cd py.bolt.snaek && nix flake update && cd ..
      - name: Check for changes
        id: diff
        run: |
          git diff
          if ! git diff --quiet; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Save the flake locks
        if: steps.diff.outputs.changed == 'true'
        run: |
          git switch --force-create update origin/main
          git commit --all --message "chore(deps): automatic version bump to the most recent packages"
          git push -f origin update
      - name: Create pull request
        if: steps.diff.outputs.changed == 'true'
        run: |
          gh pr create --base main --head update \
            --title "chore(deps): automatic version bump to the most recent packages" \
            --body ":space_invader:" \
            --label "dependencies" || true
          gh pr merge update --auto --squash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Message the happened errors
        if: failure()
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_GITHUB_ACTION_BOT_TOKEN }}
          payload: |
            channel: ${{ secrets.SLACK_GITHUB_ACTION_CHANNEL_ID }}
            text: "samples(chore): failed to update project dependencies via flake"
